name: Generate Snake Animation

on:
    schedule:
        - cron: "0 */12 * * *" # Runs every 12 hours
    workflow_dispatch:
    push:
        branches:
            - main

jobs:
    generate:
        permissions:
            contents: write
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
            - name: Generate Snake Animation
              uses: Platane/snk@v3
              with:
                  github_user_name: parkster127
                  outputs: |
                      dist/github-snake.svg
                      dist/github-snake-dark.svg?palette=github-dark
                      dist/ocean.gif?color_snake=orange&color_dots=#bfd6f6,#8dbdff,#64a1f4,#4b91f1,#3c7dd9

            - name: Push to snake branch
              uses: crazy-max/ghaction-github-pages@v3.1.0
              with:
                  target_branch: snake
                  build_dir: dist
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
